
body {
    background-color:black;
    color:white;
}

.cabecera {
    display:flex;
    /* Para que el nav este en un lado y el logo en el otro */
    justify-content:space-between;
    
    /* Para que el contenido este centrado en el header */
    align-items:center;


    width: 95%;
    padding:0.5em;
    border: 1px solid red;
    margin:auto;
}

.menu {
    height:50px;
    width: 40%;
    border: 1px solid white;
    padding: 0.5em;

}

.logo {
    width: 30px;
    border: 1px solid white;
    padding:0.5em;
}

.contenedor-principal {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.principal {
    margin: 0.5em;
    width: 90vw;
    border: 1px solid ;
    text-align:center;
    background-color: rgba(255,0,0,0.5);
    height: 50vh;
}

.secundario {
    width: 30vw;
    text-align:center;
    border: 1px solid grey;
    height: 30em;
}
